{% extends "templates/main.njk" %}

{% set title = 'Main Page' %}
{% set bodyClass = 'main-page' %}

{% block content %}
				{% include "blocks/1header.njk" %}
				{% include "blocks/2main_section.njk" %}
				{% include "blocks/3our_results.njk" %}
				{% include "blocks/4our_systems.njk" %}
				{% include "blocks/5main_reasons.njk" %}
				{% include "blocks/6steps.njk" %}
				{% include "blocks/7trust-us.njk" %}


{% endblock %}


<script src="static/js/libs.min.js"></script>
<script src="static/js/main.js"></script>
{% block scripts %}{% endblock %}
