@import "utils/vars";
@import "utils/fonts";
@import "utils/libs";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-page {
  font-family: "Museo Sans Cyrl 300";
  background-color: #fafafa;
  overflow-x: hidden;
}

section {
  padding: 30px 0;
  text-align: center;
}
.text {
  font-weight: 600;
  font-size: 20px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.phone {
  font-family: "Museo Sans Cyrl 900";
}

.title {
  font-size: 43px;
  padding: 30px;
  font-family: "Museo Sans Cyrl 700";
}

.subtitle {
  font-size: 17px;
  text-transform: uppercase;
  padding: 20px;
  font-family: "Museo Sans Cyrl 700";
}

.description {
  font-size: 16px;
  padding: 20px;
}

.logo {
  margin: 10px;
}

.descr {
  font-size: 20px;
  font-family: "Museo Sans Cyrl 100";
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shadowed {
  padding: 40px;
  min-width: 350px;
}

.main_button {
  width: 270px;
  background-color: #fe5c2e;
  border: none;
  color: white;
}

.thumbnail {
  height: 40px;
  width: 100px;
  filter: grayscale(100%);
}

.fa {
  color: grey;
  margin-left: 5px;
  &:hover{
    color:#fe5c2e;
  }
}
.modal {
  min-width: 320px;
  max-width: 80%;
}
.thumb {
  height: 20px;
  width: 60px;
  filter: grayscale(100%);
}
.color {
  filter: grayscale(0%);
}

@import "blocks/_blocks";
// Responsive styles
@import "utils/media";
