@import "utils/vars";
@import "utils/fonts";
@import "utils/libs";

*{
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
}
body {	
	font-family: 'Museo Sans Cyrl 300';
}
section{
	background-color: #fafafa;
	padding: 60px 0;
	text-align: center;
}
.title{
	font-size: 43px;
	font-weight: 600;
}
.subtitle{
	font-size: 16px;
	text-transform: uppercase;
	padding: 20px;
	font-weight: 900;
}
.description{
	font-size: 16px;
	padding: 20px;

}
.logo{
	margin: 10px;
}
.descr{
    font-size: 20px;
	}
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@import "blocks/_blocks";


// Responsive styles
@import "utils/media";
