<div class="hidden">
    <p class="description">
        <span class="task_solving">Задача:</span>
        <b>Увеличение повторных продаж на 30% за полгода!</b>
    </p>
    <p class="description">
        <span class="task_solving">Решение:</span>
        Автоматизация воронки продаж
    </p>
</div>