<div class="row d-flex flex-column d-lg-none">
    <div class="hide-mobile">
        <div class="col">
            <h3 class="subtitle">Шаг 1</h3>
            <p class="description">Подготовка и согласование документации по проекту</p>
        </div>
        <div class="col">
            <h3 class="subtitle">Шаг 2</h3>
            <p class="description">Создание и передача инструкций на рабочие места</p>
        </div>
        <div class="col">
            <h3 class="subtitle">Шаг 3</h3>
            <p class="description">Обучение сотрудников</p>
        </div>
        <div class="col">
            <h3 class="subtitle">Шаг 4</h3>
            <p class="description">Обучение службы поддержи</p>
        </div>
    </div>
</div>