<section class="main_content px-3">
    <div class="circle"></div>
    <div class="container position-relative">
        <div class="row text-left shadowed flex-wrap  justify-content-center align-items-center">
            <div class="col-10 d-lg-block d-none">
                {% include "blocks/navigation.njk" %}
            </div>
            <div class="col-2 d-lg-block d-none">
                <a class="nav-link" href="#"><img src="..\..\static\images\lupa.png"></a>
            </div>
            <div class="col-12 col-md-6">
                <h1 class="title">
                    Базы данных ERP CRM 1C
                </h1>
                <p class="descr">
                    Подбор. Внедрение. Разработка. Обучение. Сопровождение. Бесплатное гарантийное обслуживание - 2 года!
                </p>
            </div>
            <div class="col-12 col-md-6 text-md-right text-center">
                <img class="photo" src="..\..\static\images\фото.png"></div>
        </div>
        <div class="row align-items-center flex-wrap mb-5 justify-content-center">
            <div class="col-12 col-md-4">
                <button class="main_button btn-lg px-5 py-3 text-nowrap mb-2">Заказать →</button>
            </div>
            <div class="col-12 col-md-8 text-left">
                <p class="text-danger py-4 px-5 text-md-left text-center">Закажите бесплатное техническое задание</p>
            </div>

        </div>

        <div class="row text-left justify-content-center no-gutters">
            <div class="col-12 col-md-6 pl-md-5">

                <p>
                    <u>
                        <b>ERP</b>
                    </u>
                    - прибыль и ваше свободное время</p>
                <p>
                    <u>
                        <b>CRM</b>
                    </u>
                    - новые продажи вашим старым клиентам</p>
                <p>
                    <u>
                        <b>BI</b>
                    </u>
                    - быстрая точная проверка вашего бизнеса</p>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    <u>
                        <b>CSM</b>
                    </u>
                    - оперативное исполнение ваших поручений без бумагт</p>
                <p>
                    <u>
                        <b>ИТ ИНФРАСТРУКТУРА</b>
                    </u>
                    - надежная работа бизнеса и ваше спокойствие 24/7</p>
            </div>
        </div>
        <div class="about-us">

            <div class="about-us_item">
                <img src="..\..\static\images\icon1.png">
                <h3 class="subtitle">Опыт</h3>
                <p class="description">Опыт разработки IT решений более 15 лет
                </p>
            </div>
            <div class="about-us_item">
                <img src="..\..\static\images\icon2.png">
                <h3 class="subtitle">Работа</h3>
                <p class="description">с различными поставщиками ПО (более 18)
                </p>
            </div>
            <div class="about-us_item">
                <img src="..\..\static\images\icon3.png">
                <h3 class="subtitle">Заказчики</h3>
                <p class="description">со штатом более чем 1000 сотрудников
                </p>
            </div>
            <div class="about-us_item">
                <img src="..\..\static\images\icon4.png">
                <h3 class="subtitle">Отчетность</h3>
                <p class="description">любой сложности а также по стандартам РСБУ и МСФО/GA</p>
            </div>
            <div class="about-us_item">
                <img src="..\..\static\images\icon5.png">
                <h3 class="subtitle">Решения</h3>
                <p class="description">
                    работают у 160 довольных клиентов</p>
            </div>
        </div>
        <div class="col-12 text-center text-danger">
            <p>Профессиональное техническое задание-гарантия уменьшения бюджет</p>
            <h4 class="text">
                <u>Бесплатное техническое задание при заключении договора на работы</u>
            </h4>
        </div>

    </div>

</section>