<section class="our_systems">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title">С какими системами мы работаем</h1>
                <p class="descr">
                    Мы работаем со всеми лидерами Российского рынка программного обеспечения. Наши специалисты подберут наилучшую систему для Вашего бизнеса. Так же мы готовы реализовать необходимое решение для Вашей организации в выбранной вами системе.
                </p>
                <div class="images flex-wrap">
                    <div class="logo"><img src="..\..\static\images\logo1.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo2.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo3.png" class="color thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo4.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo5.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo6.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo7.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo8.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo13.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo9.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo10.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo11.png" class="thumb"></div>
                    <div class="logo"><img src="..\..\static\images\logo12.png" class="thumb"></div>
                </div>
                <div class="button_links">
                    <a href="#" class="button_style my-2">Система ERP</a>
                    <a href="#" class="button_style my-2">Система CRM</a>
                    <a href="#" class="button_style my-2 bg-dark text-white">BI</a>
                    <a href="#" class="button_style my-2">CSM</a>
                    <a href="#" class="button_style my-2 bg-danger text-white">Система WMS</a>
                    <a href="#" class="button_style my-2">Ит Инфраструктура</a>
                </div>
                <p class="descr">
                    <b>
                        <abbr title="Entreprise resurs planning">ERP</abbr>-(Entreprise resurs planning) система планирования ресурсами предприятия. Изначально узкоспециализированный класс систем, для планирования производства.
                    </b>
                </p>
                <p>
                    <b>В современном прочтении - это комплексная информационная система для учета ЛЮБОЙ хозяйственной деятельности компании:</b>
                </p>
                <ul class="list-group text-left list-unstyled">
                    <li class="list_item">
                        <span><img src=".\..\static\images\икон.png"></span>
                        Движение денежных потоков.</li>
                    <li class="list_item">
                        <span><img src=".\..\static\images\икон.png"></span>
                        Движение товарно-материальных ценностей.</li>
                    <li class="list_item">
                        <span><img src=".\..\static\images\икон.png"></span>
                        Производство и планирование производственных мощностей (люди/оборудование/сырье).
                    </li>
                    <li class="list_item">
                        <span><img src=".\..\static\images\икон.png"></span>
                        Персонал и расчет заработной платы.</li>
                    <li class="list_item">
                        <span><img src=".\..\static\images\икон.png"></span>
                        Бухгалтерия (Основные фонды/нематериальные активы/отчетность).</li>
                    <li class="list_item">
                        <span><img src=".\..\static\images\икон.png"></span>
                        Взаимодействие с клиентами.</li>
                </ul>
            </div>
        </div>
        <h3 class="subtitle text-left pb-0">
            Выгоды:</h3>
        <div class="row row-cols-3 text-left align-items-start justify-content-between">
            <div class="col-12 col-md-4">
                <p class="description mx-2">
                    <span class="number">1</span>
                    Освободит время сотрудников на обработку документов. Информация вносится в систему один раз.</p>
            </div>
            <div class="col-12 col-md-4">

                <p class="description mx-2">
                    <span class="number">2</span>Повысит прозрачность бизнеса. В режиме реального времени видно состояние бизнеса – кредиторка, неликвиды, проблемные заказы.</p>
            </div>
            <div class="col-12 col-md-4">

                <p class="description mx-2">
                    <span class="number">3</span>Увеличит свободные денежные средства – более эффективное управление активами (товары на складах, предоплаченные заказы на поставку, основные средства).</p>
            </div>
            <div class="col-12 col-md-4">

                <p class="description mx-2">
                    <span class="number">4</span>Улучшит качество работы с клиентами – более детальная информация для клиента о его заказах.</p>
            </div>
            <div class="col-12 col-md-4">

                <p class="description mx-2">
                    <span class="number">5</span>Уменьшит затраты на сопровождение и техническую поддержку.
                </p>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>
        <div class="images w-50">
            <div class="logo">
                <img src="..\..\static\images\logo1.png" class="thumbnail">
            </div>
            <div class="logo">
                <img src="..\..\static\images\logo12.png" class="thumbnail color">
            </div>
            <div class="logo">
                <img src="..\..\static\images\logo13.png" class="thumbnail">
            </div>
            <div class="logo">
                <img src="..\..\static\images\logo6.png" class="thumbnail">
            </div>
        </div>

    </div>
</div>
</section>