<section class="main_reasons">
    <div class="circle"></div>
    <div class="container position-relative">
        <h1 class="title">Почему Вам необходимо обратиться к нам!</h1>
        <p class="descr">
            Любой бизнес сталкивается с определенным моментом, когда человеческие ресурсы неоправданно увеличивают как финансовые, так и временные затраты на обработку различных данных. Что несет в себе потерю клиентов, прибыли и времени!
        </p>
        <div class="row row-cols-4">
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason">
                    <img src="../../static/images/16.png" alt="this icon depicts lightning">
                    <p class="description">Собственный успешный опыт развития компании с количеством сотрудников более 1000 человек</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason align-self-start">
                    <img src="../../static/images/17.png" alt="this icon depicts a small star">
                    <p class="description">Опыт команды более 15 лет, средний возраст сотрудников 32 года</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason">
                    <img src="../../static/images/18.png" alt="this icon depicts three squares in a row">
                    <p class="description ">Подберем идеальную систему для Вашего бизнеса используя соотношение бюджета/пожеланий/требований к системе/сроки</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="reason">
                    <img src="../../static/images/19.png" alt="this icon depicts clouds">
                    <p class="description ">Мы знаем, что вам потребуется внедрять в будущем! Подойдем к вопросу с позиции экономии вашего времени, усилий и финансовых затрат!</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason">
                    <img src="../../static/images/20.png" alt="this icon depicts gps icon">
                    <p class="description ">Внедрим, адаптируем, обучим пользоваться Вас и ваших сотрудников</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason">
                    <img src="../../static/images/21.png" alt="this icon depicts three lines under each other">
                    <p class="description ">Обеспечим любой стандарт отчетности, как и Российский, так и международный!</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason">
                    <img src="../../static/images/22.png" alt="this icon depicts eye">
                    <p class="description ">Обеспечим бесплатную гарантийную поддержку в течении 2х лет!</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="reason">
                    <img src="../../static/images/23.png" alt="this icon depicts round arrays">
                    <p class="description ">
                        Бесплатно обновим программное обеспечение в течении 6 месяцев после внедрения!
                    </p>
                </div>
            </div>
        </div>
        <h4 class="text text-danger">
            <u>Мы предложим Вам одни из самых выгодных условий как по срокам, так и по стоимости!</u>
        </h4>
    </div>
</section>