<section class="main_reasons">
    <div class="container">
        <h1 class="title">Почему Вам необходимо обратиться к нам!</h1>
        <p class="descr">Любой бизнес сталкивается с определенным моментом, когда человеческие ресурсы неоправданно увеличивают как финансовые, так и временные затраты на обработку различных данных. Что несет в себе потерю клиентов, прибыли и времени!</p>

        <div class="row row-cols-4 flex-wrap align-items-center">
            <div class="col-12 col-md-3 my-2">
                <img src="..\..\static\images\16.png">
                <p class="description pt-4">Собственный успешный опыт развития компании с количеством сотрудников более 1000 человек</p>
            </div>
            <div class="col-12 col-md-3 my-2">
                <img src="..\..\static\images\17.png">
                <p class="description pt-4">Опыт команды более 15 лет, средний возраст сотрудников 32 года</p>
            </div>
            <div class="col-12 col-md-3 my-2"><img src="..\..\static\images\18.png">
                <p class="description pt-4">Подберем идеальную систему для Вашего бизнеса используя соотношение бюджета/пожеланий/требований к системе/сроки</p>
            </div>
            <div class="col-12 col-md-3 my-2"><img src="..\..\static\images\19.png">
                <p class="description pt-4">Мы знаем, что вам потребуется внедрять в будущем! Подойдем к вопросу с позиции экономии вашего времени, усилий и финансовых затрат!</p>
            </div>
            <div class="col-12 col-md-3 my-2">
                <img src="..\..\static\images\20.png">
                <p class="description pt-4">Внедрим, адаптируем, обучим пользоваться Вас и ваших сотрудников</p>
            </div>
            <div class="col-12 col-md-3 my-2">
                <img src="..\..\static\images\21.png">
                <p class="description pt-4">Обеспечим любой стандарт отчетности, как и Российский, так и международный!</p>
            </div>
            <div class="col-12 col-md-3 my-2"><img src="..\..\static\images\22.png">
                <p class="description pt-4">Обеспечим бесплатную гарантийную поддержку в течении 2х лет!</p>
            </div>
            <div class="col-12 col-md-3 my-2"><img src="..\..\static\images\23.png">
                <p class="description pt-4">Бесплатно обновим программное обеспечение в течении 6 месяцев после внедрения!
                </p>
            </div>
        </div>
        <h4 class="text text-danger"><u>Мы предложим Вам одни из самых выгодных условий как по срокам, так и по стоимости!</u></h4>
    </div>
</section>