<section class="steps">
    <h1 class="title">Этапы работ</h1>
    <div class="container position-relative">
        <div class="row justify-content-center mt-5 flex-wrap">
            <div class="col-12 col-md-2">
                <div class="item_features">
                    <span><img class="thumbnail" src="../../static/images/24.svg" alt="this icon depicts a chat cloud"></span>
                    <h3 class="subtitle">1 Этап</h3>
                    <p class="description text-secondary">Предварительный</p>
                    {% include "templates/steps.hide.njk" %}
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="item_features">
                    <span><img class="thumbnail" src="../../static/images/25.svg" alt="this icon depicts three lines with dots under each others"></span>
                    <h3 class="subtitle">2 Этап</h3>
                    <p class="description text-secondary">ТЗ</p>
                    {% include "templates/steps.hide.njk" %}
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="item_features">
                    <span>
                        <img class="thumbnail" src="../../static/images/26.svg" alt="this icon depicts the network logo">
                    </span>
                    <h3 class="subtitle">3 Этап</h3>
                    <p class="description text-secondary">Проект</p>
                    {% include "templates/steps.hide.njk" %}
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="item_features">
                    <span><img class="thumbnail" src="../../static/images/27.svg" alt="this icon depicts"></span>
                    <h3 class="subtitle text-center">4 Этап</h3>
                    <p class="description text-secondary">Промышленная эксплуатация</p>
                    {% include "templates/steps.hide.njk" %}
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="item_features">
                    <span><img class="thumbnail" src="../../static/images/28.svg" alt="this icon depicts figure"></span>
                    <h3 class="subtitle text-center">5 Этап</h3>
                    <p class="description text-secondary">Гарантийное обслуживание</p>
                    {% include "templates/steps.hide.njk" %}
                </div>
            </div>
        </div>
        <div class="hide">
            <div class="row d-lg-flex d-none">
                <div class="col-12 col-md-3">
                    <h3 class="subtitle">Шаг 1</h3>
                    <p class="description">Подготовка и согласование документации по проекту</p>
                </div>
                <div class="col-12 col-md-3">
                    <h3 class="subtitle">Шаг 2</h3>
                    <p class="description">Создание и передача инструкций на рабочие места</p>
                </div>
                <div class="col-12 col-md-3">
                    <h3 class="subtitle">Шаг 3</h3>
                    <p class="description">Обучение сотрудников</p>
                </div>
                <div class="col-12 col-md-3">
                    <h3 class="subtitle">Шаг 4</h3>
                    <p class="description">Обучение службы поддержи</p>
                </div>
            </div>
        </div>
    </div>
    <div class="circle"></div>
</section>