<section class="trust_us">
    <div class="container position-relative">
        <h1 class="title my-3">Нам доверяют</h1>
        <div class="images pt-4">
            <div class="logo d-none d-md-block"><img class="thumbnail" src="../../static/images/logo15.png" alt="logotype"></div>
            <div class="logo d-none d-md-block"><img class="thumbnail" src="../../static/images/logo16.png" alt="logotype"></div>
            <div class="logo"><img class="thumbnail" src="../../static/images/logo17.png" alt="logotype"></div>
            <div class="logo"><img class="thumbnail" src="../../static/images/logo14.png" alt="logotype"></div>
            <div class="logo"><img class="thumbnail color" src="../../static/images/logo19.png" alt="logotype"></div>
        </div>
        <div class="shadowed">
            <div class="row justify-content-center text-left align-items-center">
                <div class="col-12 col-md-8 order-2 order-lg-1">
                    <h1 class="title text-lg-left text-center pl-0">Ещё мы можем предложить</h1>
                    <div class="row">
                        <div class="col-12 col-lg-6 px-2">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="list_link">Поддержка 24/7</a>
                                </li>
                                <li>
                                    <a href="#" class="list_link">Выезд на объект заказчика в течение 3-х часов</a>
                                </li>
                                <li>
                                    <a href="#" class="list_link">Мы работаем по всей России</a>
                                </li>
                                <li>
                                    <a href="#" class="list_link">Полное сопровождение вашей ИТ среды</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 px-2">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="list_link">Поставка и накладка оборудования</a>
                                </li>
                                <li>
                                    <a href="#" class="list_link">Минимальные цены среди конкурентов</a>
                                </li>
                                <li>
                                    <a href="#" class="list_link">Душевный разговор :)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-3 text-center">
                    <img src="../../static/images/фото2.png" alt="on this photo the man is touching his beard,smiling and looking at his tablet in his hands">
                </div>
                <div class="col-12 col-lg-4 order-5 text-lg-left text-center py-4">
                    <button class="main_button btn-lg px-5 py-3 text-nowrap mb-2">Заказать →</button>
                </div>
                <div class="col-12 col-lg-8 order-5 align-self-center">
                    <p class="text-danger text-lg-left text-center">Закажите бесплатное техническое задание</p>
                </div>
            </div>
            <div class="cirle"></div>
        </div>
    </div>
</section>