<section class="trust_us">
    <div class="container">
        <h1 class="title">Нам доверяют</h1>
        <div class="images py-4">
            <div class="logo d-none d-md-block"><img class="thumbnail" src="..\..\static\images\logo15.png"></div>
            <div class="logo d-none d-md-block"><img class="thumbnail" src="..\..\static\images\logo16.png"></div>
            <div class="logo"><img class="thumbnail" src="..\..\static\images\logo17.png"></div>
            <div class="logo"><img class="thumbnail" src="..\..\static\images\logo14.png"></div>
            <div class="logo"><img class="thumbnail color" src="..\..\static\images\logo19.png"></div>
        </div>

        <div class="row justify-content-center text-left shadowed">
            <div class="photo my-2"><img src="..\..\static\images\фото2.png"></div>
            <div class="col-12">
                <h1 class="title text-left py-5">Ещё мы можем предложить</h1>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <ul class="list-unstyled pt-md-5 pt-0">
                            <li>
                                <a href="#" class="list_link">Поддержка 24/7</a>
                            </li>
                            <li>
                                <a href="#" class="list_link">Выезд на объект заказчика в течение 3-х часов</a>
                            </li>
                            <li>
                                <a href="#" class="list_link">Мы работаем по всей России</a>
                            </li>
                            <li>
                                <a href="#" class="list_link">Полное сопровождение вашей ИТ среды</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="list_link">Поставка и накладка оборудования</a>
                            </li>
                            <li>
                                <a href="#" class="list_link">Минимальные цены среди конкурентов</a>
                            </li>
                            <li>
                                <a href="#" class="list_link">Душевный разговор :)</a>
                            </li>
                        </ul>
                    </div>
                   
                </div>
                <div class="row align-items-center flex-wrap justify-content-center py-4">
                    <div class="col-12 col-md-4 mb-5">
                        <button class="main_button btn-lg px-5 py-3 text-nowrap">Заказать →</button>
                    </div>
                    <div class="col-12 col-md-4 mb-5 text-left">
                        <p class="text-danger text-left">Закажите бесплатное техническое задание</p>
                    </div> <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>