<footer>
    <div class="container py-3 position-relative">
        <div class="circle"></div>
        <div class="row justify-content-center align-content-center">
            <div class="col-8 order-4 order-lg-1 my-1">
                <p>
                    ООО «ВИДЕО ПРАВИЛА» Можайское ш 112А , работаем с учетом НДС 18%
                </p>
            </div>
            <div class="col-12 col-lg-2 text-center order-2 order-lg-2 my-1">
                <a href="#" class="mail text-dark text-nowrap">info@it-rules.ru</a>
            </div>
            <div class="col-12 col-lg-2 text-center order-1 order-lg-3 my-1">
                <a href="#" class="phone text-dark text-nowrap">+7 (495) 380-37-74</a>
            </div>
        </div>
    </div>
</footer>