<footer></footer>
<div class="container py-3">
    <div class="row">
        <div class="col-8">
            <p>ООО «ВИДЕО ПРАВИЛА» Можайское ш 112А , работаем с учетом НДС 18%
            </p>
        </div>
        <div class="col-12 col-md-2">
            <a href="#" class="mail text-dark text-nowrap">info@it-rules.ru</a>
        </div>
        <div class="col-12 col-md-2">
            <a href="#" class="phone text-dark font-weight-bold  text-nowrap">+7 (495) 380-37-74</a>
        </div>
    </div>
</div>

</footer>