<nav py-5>
    <ul class="nav justify-content-between list-unstyled d-flex flex-wrap">
        <li class="nav-item">
            <a class="nav-link" href="#">Решения и результаты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">С какими работаем</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Системы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Почему мы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Нам доверяют</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Что ещё</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="..\..\static\images\lupa.png"></a>
        </li>
    </ul>

</nav>