<nav>
    <ul class="nav justify-content-center list-unstyled d-lg-flex flex-wrap">
        <li class="nav-item">
            <a class="nav-link" href="#">Решения и результаты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">С какими работаем</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Системы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Почему мы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Нам доверяют</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Что ещё</a>
        </li>
    </ul>

</nav>