.our_systems {
  position: relative;
 
  .subtitle {
    font-size: 20px;
  }
  .button_links {
    justify-content: center;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .button_style {
      border: 1px solid black;
      border-radius: 10px;
      padding: 20px 30px;
      color: #333;
      text-transform: uppercase;
      font-weight: 700;
      margin: 15px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .list_item {
    img {
      filter: grayscale(100%) contrast(100%);
      transition: all 0.3s;
    }
    &:hover {
      img {
        filter: unset;
      }
    }
  }
  .number {
    position: absolute;
    top: 0;
    left: 15px;
    text-align: center;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: white;
    background-color: #333;
  }
  .description {
    padding: 0 0 0 30px;
    &:hover .number {
      background-color: red;
    }
  }

  .button_style {
    &:hover {
      background: lightgray;
    }
  }
}
