.main_reasons {
  position: relative;
  .circle {
    width: 28vw;
    height: 28vw;
    border: 6vw solid #f4f4f4;
    top: -20%;
    right: 0;
  }
  .description {
    font-size: 14px;
    min-width: 200px;

  }
  img {
    filter: opacity(0.5);
    width: 40px;
    height: auto;
  }

  .reason {
    padding: 40px 0px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      img {
        filter: opacity(1);
      }
    }
  }
}
