.steps {
  position: relative;
  .circle {
    width: 40vw;
    height: 40vw;
    border: 10vw solid #f4f4f4;
    top: -20%;
    left: -10%;
  }

  .item_features {
    min-width: 200px;
    height: 100%;
    background-color: unset;
    &:hover {
      background-color: white;
      span {
        background-color: rgb(241, 86, 24);
      }
      .thumbnail {
        filter: saturate(0) contrast(100) invert(100);
      }
      .fa-sliders {
        color: white;
      }
    }
  }

  .thumbnail {
    filter: saturate(100%);
    width: 40px;
    height: 40px;
  }
  span {
    display: block;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    padding: 25px 0;
    transition: all 0.4s;
  }
  .fa-sliders {
    color: #fe805c;
    transform: rotate(90deg);
    font-size: 40px;
  }
  .subtitle {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0;
  }
  .description {
    text-align: center;
    padding: 0;
  }
  .hide {
    display: none;
    position: absolute;
    bottom: -145px;
    width: 84%;
    left: 124px;
    .col-lg-3 {
      background-color: white;
      @extend %col-hover;
      padding: 10px 25px;
    }
  }
  @media(max-width:1200px){
    .hide{
      left: 113px;
    bottom: -160px;
    }
    .item_features{min-width: 170px;}
  }
  .hide-mobile {
    display: none;
    .col {
      @extend %col-hover;
    }
  }
}

.hide-mobile,
.hide {
  .description {
    font-size: 14px;
    text-align: left;
  }
  .subtitle {
    position: relative;
    z-index: 10;
    text-align: left;
    padding-left: 0;
    color: grey;
  }
}
