.trust_us {
  .shadowed {
    position: relative;
    background: linear-gradient(#fafafa 75%, white);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }
  .images {
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 0 60px;
  }
  .list_link {
    color: #333;
    text-decoration: underline;
  }

  .thumbnail {
    &:hover {
      filter: grayscale(0) invert(100%);
    }
  }
}
